services:
  postgres:
    image: postgres:15.6-alpine
    container_name: campus-postgres
    environment:
      POSTGRES_DB: campus_db
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 123456
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - campus-network

  minio:
    image: minio/minio:latest
    container_name: campus-minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: minioadmin
      MINIO_ROOT_PASSWORD: minioadmin
    volumes:
      - minio_data:/data
    command: server /data --console-address ":9001"
    networks:
      - campus-network

  minio-create-bucket:
    image: minio/mc:latest
    depends_on:
      - minio
    entrypoint: >
      /bin/sh -c "
      /usr/bin/mc alias set myminio http://minio:9000 minioadmin minioadmin;
      /usr/bin/mc mb myminio/campus-files;
      /usr/bin/mc policy set public myminio/campus-files;
      exit 0;
      "
    networks:
      - campus-network
  
  redis:
    image: docker.1ms.run/library/redis:7.4.1
    container_name: campus-redis
    ports:
      - "6379:6379"
    networks:
      - campus-network



networks:
  campus-network:
    driver: bridge

volumes:
  postgres_data:
  minio_data: